<%= simple_form_for @location do |f|%>
<%= f.input :name, input_html: { class: "form-control" }%>
<%= f.input :address, input_html: { class: "form-control" }%>
<%= f.input :locality, input_html: { class: "form-control" }%>
<%= f.input :region, input_html: { class: "form-control" }%>
<%= f.input :post_code, input_html: { class: "form-control" }%>
<%= f.input :neighborhood, input_html: { class: "form-control" }%>
<%#= f.input :country, input_html: { class: "form-control" }%><br/>
<h3> Country</h3>
<%= country_select("location", "country", input_html: { class: "form-control" })%>
<%= f.input :telephone, input_html: { class: "form-control" }%>
<%= f.input :website, input_html: { class: "form-control" }%>
<%= f.input :hours_of_oper, input_html: { class: "form-control" }%>
<%= f.input :chain_name, input_html: { class: "form-control" }%>
<%= f.input :category_labels, input_html: { class: "form-control" }%>
<br/>
<%= f.submit %>
<%end%>


